section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 30px;

  h2 {
    color: rgb(239 250 255);
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    margin-left: -1.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    ng-icon {
      margin-right: 15px;
    }
  }

  img {
    width: 18rem;
    height: 18rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }

  article {
    width: 100%;
    margin-top: 30px;

    p {
      color: rgb(226 232 240);
      text-wrap: pretty;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 1rem;
      text-align: justify;

      span {
        font-weight: bold;
      }

      .span1 {
        color: rgb(255 178 114);
      }

      .span2 {
        color: rgb(153 255 255);
      }

      .span3 {
        color: rgb(102, 238, 138);
      }
    }
  }

  .buttons {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;

    .button {
      transition: all .2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }

      a {
        border: 1px solid rgb(51 65 85);
        border-radius: 20px;
        text-decoration: none;
        color: rgb(226 232 240);
        font-size: 1rem;
        line-height: 1.5rem;
        padding: .5rem 1rem;
        margin: 0 10px;

        &:hover {
          background-color: rgb(85, 85, 97);
        }

      }
    }

  }
}

@media (min-width: 900px) {
  section {
    max-width: 700px;
  }
}

@media (max-width: 900px) {
  section {
    max-width: 75%;
  }
}

@media (max-width: 500px) {
  section {
    .buttons {
      flex-direction: column-reverse;
      margin-top: 0;

      .button {
        margin: 15px 0;
      }
    }
  }
}

@media (min-width: 500px) {
  .buttons {
    flex-direction: row;
    margin-top: 30px;
  }
}
