<section>
  <h2>Sobre Mí</h2>
  <img src="../../../assets/images/edu.jpg" alt="">
  <article>
    <p>Hola 👋, soy Cristian Orrego, Ingeniero en Sistemas y Desarrollador FullStack. Inicié en la programación como un
      hobby hace poco más de 4 años. Hoy estoy liderando un equipo de desarrollo en una empresa con mercado
      internacional.</p>
    <p>Entre mis logros destaco el desarrollo e implementación de estándares de código y metodologías de desarrollo en
      Colraices , logrando así garantizar la calidad del código y un flujo de trabajo efectivo en el equipo.</p>
    <p>Como proyecto personal comparto artículos de blog sobre programación. Cuando compartes tu conocimiento es cuando
      más aprendes y mi objetivo además de seguir mejorando mis habilidades es ayudar a otros con mis experiencias,
      guías y tutoriales</p>
    <p>Por último, comparto mi hoja de vida actualizada, donde de manera más detallada específico mi experiencia
      laboral, logros y formación académica.</p>
  </article>
  <div class="buttons">
    <div class="button">
      <a href="">Currículum <ng-icon name="tablerFileDownload"></ng-icon></a>
    </div>
    <div class="button">
      <a href="#experience">Mándame un mail <ng-icon name="tablerMailPlus"></ng-icon></a>
    </div>
  </div>
</section>
