<section>
  <h2><ng-icon name="ionPersonCircleOutline"></ng-icon> Sobre Mí</h2>
  <img src="../../../assets/images/edu.jpg" alt="">
  <article>
    <p>Buenas 👋, soy Edu García, estudiante de <span class="span1">Ingeniería informática y desarrollador
        frontend</span>. Me inicié en este
      mundo hace más de 3 años con el objetivo de poder dedicarme a lo que me apasionaba desde que era pequeño.</p>
    <p>Dos aspectos fundamentales con los que me siento identificado son la <span class="span2">proactividad y la
        profesionalidad</span>. Aunque
      pasen los años conservo la misma motivación del primer día que quise dedicarme a esto. Me gusta <span
        class="span3">estar al
        tanto de las nuevas tecnologías</span> pero siempre manteniendo y aplicando los <span class="span1">estándares
        de código, metodologías y
        buenas prácticas</span> en el desarrollo.</p>
    <p>Además de mi formación técnica en desarrollo de aplicaciones web, tengo certificaciones que me han permitido
      trabajar en el <span class="span2">sector deportivo como hobby</span>. Me fascina combinar mis habilidades
      tecnológicas con mi vocación de
      ayudar a los demás y de fomentar la actividad física y el ocio saludable.</p>
    <p>Por último, comparto mi currículum actualizado con el objetivo de poder encontrar un hueco en este sector y
      <span class="span3">combinar el desarrollo profesional con el desarrollo educativo</span> que tengo en la
      actualidad. !Un saludo!
    </p>
  </article>
  <div class="buttons">
    <div class="button">
      <a href="../../../assets/docs/Edu_Garcia_CV.pdf" download="Edu_Garcia_CV.pdf">Currículum <ng-icon
          name="tablerFileDownload"></ng-icon></a>
    </div>
    <div class="button">
      <a href="mailto:egzdeveloper@outlook.es">Mándame un mail <ng-icon name="tablerMailPlus"></ng-icon></a>
    </div>
  </div>
</section>
