<section>
  <div class="intro">
    <div class="text">
      <h1>Hola, <span class="name">soy Edu</span><span class="spec typewriter">Desarrollador Frontend</span></h1>
      <h2>+1 año de experiencia. <span class="span1">Estudiante de Ingeniería Informática y Desarrollador Web. </span><span class="span2">Aprendiz en ciberseguridad y hacking ético. </span><span class="span3">Amante de la innovación y el minimalismo.</span></h2>
    </div>
    <div class="button">
      <a href="#experience">Conóceme <ng-icon name="ionArrowDown"></ng-icon></a>
    </div>
  </div>
</section>

