<section>
  <h2 class="title">Proyectos</h2>
  <div class="projects">
    <a href="">
      <figure>
        <img src="../../../assets/images/edu.jpg" alt="">
      </figure>
      <div class="info">
        <h2>Momentum APP</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, ad. Autem possimus eaque provident
          harum soluta illo quisquam quod, sint beatae voluptate nulla nobis. Ea nihil exercitationem voluptatum ipsam
          placeat!</p>
        <ul>
          <li>MongoDB</li>
          <li>Express.js</li>
          <li>ReactJS</li>
          <li>NodeJS</li>
        </ul>
      </div>
    </a>
    <a href="">
      <figure>
        <img src="../../../assets/images/edu.jpg" alt="">
      </figure>
      <div class="info">
        <h2>Momentum APP</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, ad. Autem possimus eaque provident
          harum soluta illo quisquam quod, sint beatae voluptate nulla nobis. Ea nihil exercitationem voluptatum ipsam
          placeat!</p>
        <ul>
          <li>MongoDB</li>
          <li>Express.js</li>
          <li>ReactJS</li>
          <li>NodeJS</li>
        </ul>
      </div>
    </a>
  </div>
</section>
