<section>
  <h2 class="title">Proyectos</h2>
  <div class="projects">
    <div>
      <figure>
        <img src="../../../assets/images/project1.webp" alt="">
      </figure>
      <div class="info">
        <h2>Momentum APP</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, ad. Autem possimus eaque provident
          harum soluta illo quisquam quod, sint beatae voluptate nulla nobis. Ea nihil exercitationem voluptatum ipsam
          placeat!</p>
        <ul>
          <li>MongoDB</li>
          <li>Express.js</li>
        </ul>
      </div>
    </div>
    <div>
      <figure>
        <img src="../../../assets/images/project2.webp" alt="">
      </figure>
      <div class="info">
        <h2>Momentum APP</h2>
        <ul>
          <li>MongoDB</li>
          <li>Express.js</li>
        </ul>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, ad. Autem possimus eaque provident
          harum soluta illo quisquam quod, sint beatae voluptate nulla nobis. Ea nihil exercitationem voluptatum ipsam
          placeat!</p>
          <footer>
            <a href="https://github.com/pheralb/svgl"><ng-icon name="iconoirLaptopDevMode"></ng-icon> Code</a>
            <a href="https://github.com/pheralb/svgl"><ng-icon name="iconoirLaptopDevMode"></ng-icon> Preview</a>
          </footer>
      </div>
    </div>
  </div>
</section>
