<section>
  <h2 class="title"><ng-icon name="ionCodeSlash"></ng-icon> Proyectos</h2>
  <div class="grid">
    <div>
      <figure>
        <img src="../../../assets/images/project1.webp" alt="">
      </figure>
      <div class="info">
        <h2>Los Peines de Ro <ng-icon name="tablerScissors"></ng-icon></h2>
        <ul>
          <li>Angular</li>
          <li>Ionic</li>
          <li>Firebase</li>
        </ul>
        <p>Gestión de citas en peluquerías con funcionalidades de inventario y facturación. Usado actualmente por una peluquería local.</p>
        <footer>
          <a href="https://github.com/pheralb/svgl"><ng-icon name="ionLogoGithub"></ng-icon> Code</a>
          <a href="https://github.com/pheralb/svgl"><ng-icon name="iconoirOpenInBrowser"></ng-icon> Demo</a>
        </footer>
      </div>
    </div>
    <div>
      <figure>
        <img src="../../../assets/images/project2.webp" alt="">
      </figure>
      <div class="info">
        <h2>Warrior Gym <ng-icon name="iconoirGym"></ng-icon></h2>
        <ul>
          <li>Angular</li>
          <li>Firebase</li>
          <li>PrimeNg</li>
        </ul>
        <p>Control de acceso, gestión de usuarios y facturación en gimnasios. Solución adaptada para el gimnasio de mi localidad.</p>
          <footer>
            <a href="https://github.com/pheralb/svgl"><ng-icon name="ionLogoGithub"></ng-icon> Code</a>
            <a href="https://github.com/pheralb/svgl"><ng-icon name="iconoirOpenInBrowser"></ng-icon> Demo</a>
          </footer>
      </div>
    </div>
  </div>
</section>
