<section>
  <h2><ng-icon name="tablerChess"></ng-icon> Hobbies & Intereses</h2>
  <section class="grid">
    <article class="music">
      <p>Descubre mis canciones favoritas</p>

      <div class="iframe" *ngFor="let song of playlist" [style]="song.color">
        <div class="image">
          <img [src]="song.src" [alt]="song.alt">
          <div class="text">
            <a [href]="song.songUrl" target="_blank">{{ song.name }}</a>
            <a [href]="song.artistUrl" target="_blank">{{ song.artist }}</a>
          </div>
        </div>
        <div class="buttons">
          <ng-icon name="ionPlayCircle" (click)="play(song)" *ngIf="!song.playing"></ng-icon>
          <ng-icon name="ionPauseCircle" (click)="stop(song)" *ngIf="song.playing"></ng-icon>
        </div>
      </div>
    </article>
    <div class="right">
      <article class="container-books">
        <p>Echa un vistazo a mis libros favoritos</p>
        <div class="books">
          <div>
            <p><a target="_blank"
                href="https://www.google.es/books/edition/Tracers_in_the_Dark/uytfEAAAQBAJ?hl=es&gbpv=0">Tracers in the
                Dark: The Global Hunt for the Crime Lords of Cryptocurrency</a></p>
            <span>Andy Greenberg, 2022</span>
          </div>
          <div>
            <p><a target="_blank"
                href="https://www.google.es/books/edition/Un_Mundo_Inmenso/xu54EAAAQBAJ?hl=es&gbpv=0">Explicaciones de
                lugares inexplicables</a></p>
            <span>Un mundo inmenso, 2022</span>
          </div>
          <div>
            <p><a target="_blank"
                href="https://www.google.es/books/edition/Qu%C3%A9_hace_un_bos%C3%B3n_como_t%C3%BA_en_un_big_b/Tu-fEAAAQBAJ?hl=es&gbpv=0">¿Qué
                hace un bosón como tú en un Big Bang como este? Orgías cósmicas, polvo de estrellas y
                otras locuras cuánticas</a>
            </p>
            <span>Javier Santaolalla, 2022</span>
          </div>
          <div>
            <p><a target="_blank" href="https://witcher.fandom.com/es/wiki/Saga_de_Geralt_de_Rivia">Saga The Witcher</a>
            </p>
            <span>Andrzej Sapkowski, 1993 - 2013</span>
          </div>
        </div>
      </article>
      <article class="games">
        <p>¿Jugamos una partida?</p>
        <div class="tiles">
          <a target="_blank" href="https://steamcommunity.com/profiles/76561199272660284" class="steam">
            <img src="./../../../assets/images/logos/steam.svg" alt="Steam Logo">
          </a>
          <a target="_blank" href="https://lichess.org/@/egarzam1905" class="chess">
            <img src="./../../../assets/images/logos/chess.svg" alt="Lichess Logo">
          </a>
        </div>
      </article>
    </div>
  </section>
</section>
