<section>
  <h2><ng-icon name="ionConstructOutline"></ng-icon> Skills</h2>
  <section class="grid">
    <article>
      <h3 class="frontend">Frontend</h3>
      <ul>
        <li>
          <img src="../../../assets/icons/html.svg" alt="">
          <span>HTML5</span>
        </li>
        <li>
          <img src="../../../assets/icons/css3.svg" alt="">
          <span>CSS3</span>
        </li>
        <li>
          <img src="../../../assets/icons/js.svg" alt="">
          <span>JavaScript</span>
        </li>
        <li>
          <img src="../../../assets/icons/ts.svg" alt="">
          <span>TypeScript</span>
        </li>
        <li>
          <img src="../../../assets/icons/angular.svg" alt="">
          <span>Angular</span>
        </li>
        <li>
          <img src="../../../assets/icons/ionic.svg" alt="">
          <span>Ionic</span>
        </li>
      </ul>
    </article>
    <article>
      <h3 class="backend">Backend</h3>
      <ul>
        <li>
          <img src="../../../assets/icons/mysql.svg" alt="">
          <span>MySQL</span>
        </li>
        <li>
          <img src="../../../assets/icons/docker.svg" alt="">
          <span>Docker</span>
        </li>
        <li>
          <img src="../../../assets/icons/firebase.svg" alt="">
          <span>Firebase</span>
        </li>
        <li>
          <img src="../../../assets/icons/java.svg" alt="">
          <span>Java</span>
        </li>
        <li>
          <img src="../../../assets/icons/mongodb.svg" alt="">
          <span>MongoDB</span>
        </li>
        <li>
          <img src="../../../assets/icons/nodejs.svg" alt="">
          <span>NodeJS</span>
        </li>
      </ul>
    </article>
    <article>
      <h3 class="learning">Aprendiendo</h3>
      <ul>
        <li>
          <img src="../../../assets/icons/python.svg" alt="">
          <span>Python</span>
        </li>
        <li>
          <img src="../../../assets/icons/react.svg" alt="">
          <span>React</span>
        </li>
        <li>
          <img src="../../../assets/icons/flutter.svg" alt="">
          <span>Flutter</span>
        </li>
        <li>
          <img src="../../../assets/icons/nestjs.svg" alt="">
          <span>NestJS</span>
        </li>
        <li>
          <img src="../../../assets/icons/tailwind.svg" alt="">
          <span>Tailwind CSS</span>
        </li>
        <li>
          <img src="../../../assets/icons/astro.svg" alt="">
          <span>Astro</span>
        </li>
      </ul>
    </article>
    <article>
      <h3 class="tools">Herramientas</h3>
      <ul>
        <li>
          <img src="../../../assets/icons/bash.svg" alt="">
          <span>Bash</span>
        </li>
        <li>
          <img src="../../../assets/icons/vscode.svg" alt="">
          <span>VSCode</span>
        </li>
        <li>
          <img src="../../../assets/icons/git.svg" alt="">
          <span>Git</span>
        </li>
        <li>
          <img src="../../../assets/icons/npm.svg" alt="">
          <span>npm</span>
        </li>
        <li>
          <img src="../../../assets/icons/gimp.svg" alt="">
          <span>Gimp</span>
        </li>
        <li>
          <img src="../../../assets/icons/wordpress.svg" alt="">
          <span>Wordpress</span>
        </li>
      </ul>
    </article>
  </section>
</section>
