<section>
  <h2>Experiencia</h2>
  <article>
    <ul>
      <li>
        <span class="logo"><ng-icon name="iconoirLaptopDevMode"></ng-icon></span>
        <h3>Freelance Developer & Hardware Technical Service</h3>
        <time>Febrero 2023 - Presente</time>
        <p>Encargado de desarrollar soluciones web en empresa del sector financiero e inmobiliario. Desarrollo de
          convenciones de código internas de acuerdo a buenas prácticas de programación. Liderar el equipo de desarrollo
          Backend.</p>
      </li>
      <li>
        <span class="logo"><img src="./../../../assets/images/logos/guruvr-logo.png"/></span>
        <h3>Desarrollador Frontend <span class="line">- </span><span class="company">Guru Tech Vr</span></h3>
        <time>Septiembre 2022 - Enero 2023</time>
        <p>Encargado de desarrollar soluciones web en empresa del sector financiero e inmobiliario. Desarrollo de
          convenciones de código internas de acuerdo a buenas prácticas de programación. Liderar el equipo de desarrollo
          Backend.</p>
      </li>
      <li>
        <span class="logo"><img src="./../../../assets/images/logos/amsystem-logo.png"/></span>
        <h3>Desarrollador Frontend <span class="line">- </span><span class="company">AM System</span></h3>
        <time>Octubre 2021 - Junio 2022</time>
        <p>Encargado de desarrollar soluciones web en empresa del sector financiero e inmobiliario. Desarrollo de
          convenciones de código internas de acuerdo a buenas prácticas de programación. Liderar el equipo de desarrollo
          Backend.</p>
      </li>
    </ul>
  </article>
</section>
