<div class="separator"></div>
<section>
  <h2><ng-icon name="ionBriefcaseOutline"></ng-icon> Experiencia</h2>
  <article>
    <ul>
      <li>
        <span class="logo"><ng-icon name="iconoirLaptopDevMode"></ng-icon></span>
        <h3>Freelance Developer & Hardware Technical Service</h3>
        <time>Feb. 2023 - Actualidad</time>
        <p>Realizo y configuro soluciones informáticas para particulares o pequeñas empresas, creando páginas webs,
          landings pages y portales ERP para la gestión empresarial. También ofrezo servicio técnico de
          equipos electrónicos realizando tareas de reparación, mantenimiento y actualización.</p>
      </li>
      <li>
        <span class="logo"><img src="./../../../assets/images/logos/guruvr-logo.svg" /></span>
        <h3>Desarrollador Frontend <span class="line">- </span><span class="company">Guru Tech VR</span></h3>
        <time>Sep. 2022 - Ene. 2023</time>
        <p>Desarrollo en entornos de realidad virtual con enfoque en el frontend y aplicando técnicas UI/UX con el fin
          de crear interfaces intuitivas y amigables para el usuario final. </p>
      </li>
      <li>
        <span class="logo"><img src="./../../../assets/images/logos/amsystem-logo.svg" /></span>
        <h3>Desarrollador Frontend <span class="line">- </span><span class="company">AM System</span></h3>
        <time>Oct. 2021 - Jun. 2022</time>
        <p>Formación Dual durante mi estapa en un ciclo superior de desarrollo web. Realización de funciones de
          soporte al desarrollo de aplicaciones multiplataforma, creando componentes y aportando
          escalabilidad y reusabilidad al código. Encargado de la creación y mantenimiento de varias landing pages para
          la venta de servicios.</p>
      </li>
    </ul>
  </article>
</section>
